

{% extends "baseDashboard.html.twig" %}

{% block title %}Type de Construction{% endblock %}

{% block content %}

<div class="main-content container-fluid">
    <div class="custom-progress-bar">
        <ul>
          {% for numero, etape in etapes %}
            <li class="{% if numero + 1 == etape_courante %} current {% endif %}">
              {{ etape }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {{ form_start(form) }}

    <section id="horizontal-input">
        <!-- Section pour le formulaire -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Environnement</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(form.nomSite, 'Nom du site', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(form.nomSite, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(form.distance, 'Distance', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(form.distance, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(form.est, 'EST', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(form.est, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(form.observation, 'Observation', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(form.observation, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row mt-3">
    <div class="col-md-12 text-end">
       <button type="submit" class="btn btn-primary" name="action" value="back" style="background-color: green; border-color: green;">Arrière</button>
        <button type="submit" class="btn btn-primary" name="action" value="next">Suivant</button>
    </div>
    </div>
    </section>
    {{ form_end(form) }}
</div>
{% endblock %}

