{% extends "baseDashboard.html.twig" %}

{% block title %}Nature de projet{% endblock %}

{% block content %}
<div class="main-content container-fluid">
    {{ form_start(form) }}

    <section id="horizontal-input">
        <!-- Section pour le formulaire -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Nature de projet</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(form.nature, 'Nature de projet', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(form.nature, {'attr': {'class': 'form-select'}}) }}
                                    {{ form_errors(form.nature) }} <!-- Affichage des erreurs de validation -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section des boutons Enregistrer et Groupe activité -->
    <div class="row mt-3">
        <div class="col-md-12 text-end">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
