{# {% extends "baseDashboard.html.twig" %} 
{% block title %}Renseignement Collectif{% endblock %}

{% block content %}
    {{ form_start(formCIN) }} 
        {{ form_row(formCIN.numCIN) }}  
        {{ form_row(formCIN.dateCIN) }} 
        {{ form_row(formCIN.lieuCIN) }}  
        {{ form_row(formCIN.duplicataCIN) }} 
        {{ form_row(formCIN.lieuDuplicataCIN) }}  
        {{ form_row(formCIN.profession) }} 
        {{ form_row(formCIN.nomPere) }}  
        {{ form_row(formCIN.nomMere) }} 
       
     
        {{ form_row(formVisa.numPasseport) }}  
        {{ form_row(formVisa.statut) }}  
      
        {{ form_row(formVisa.nomPasseport) }}  
        {{ form_row(formVisa.prenomPasseport) }}  
        {{ form_row(formVisa.dateNaissance) }}  
        {{ form_row(formVisa.Nationalite) }}   
        {{ form_row(formVisa.DateDelivrance) }}  
        {{ form_row(formVisa.Validite) }}   
        {{ form_row(formVisa.categorie) }}  

        <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(formCIN) }} 

    <a href="{{ path('affichage_NatureProjet') }}">Nature du projet</a>
{% endblock %} #}
{% extends "baseDashboard.html.twig" %}

{% block title %}carte d'identité nationale{% endblock %}

{% block content %}
<div class="main-content container-fluid">
    {{ form_start(formCIN) }}

    <section id="horizontal-input">
        <!-- Section pour le formulaire -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Carte d'identité nationale</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.numCIN, 'Numero CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.numCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.dateCIN, 'dATE CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.dateCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.lieuCIN, 'Lieu  CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.lieuCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.duplicataCIN, 'Duplicate CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.duplicataCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.lieuDuplicataCIN, 'Lieu duplicate', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.lieuDuplicataCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.profession, 'Profession', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.profession, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.nomPere, 'Nom du père', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.nomPere, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.nomMere, 'Nom de la mère', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.nomMere, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row mt-3">
    <div class="col-md-12 text-end">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    </div>
    </section>
    {{ form_end(formCIN) }}
</div>
{% endblock %}