
{% extends "baseDashboard.html.twig" %}

{% block title %}carte d'identité nationale{% endblock %}

{% block content %}

<div class="main-content container-fluid">
    <div class="custom-progress-bar">
        <ul>
          {% for numero, etape in etapes %}
            <li class="{% if numero + 1 == etape_courante %} current {% endif %}">
              {{ etape }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {{ form_start(formCIN) }}

    <section id="horizontal-input">
        <!-- Section pour le formulaire -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Carte d'identité nationale</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.numCIN, 'Numero CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.numCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.dateCIN, 'dATE CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.dateCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.lieuCIN, 'Lieu  CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.lieuCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.duplicataCIN, 'Duplicate CIN', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.duplicataCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.lieuDuplicataCIN, 'Lieu duplicate', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.lieuDuplicataCIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.profession, 'Profession', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.profession, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.nomPere, 'Nom du père', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.nomPere, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-2 col-3">
                                    {{ form_label(formCIN.nomMere, 'Nom de la mère', {'label_attr': {'class': 'col-form-label'}}) }}
                                </div>
                                <div class="col-lg-10 col-9">
                                    {{ form_widget(formCIN.nomMere, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-end">
              <button type="submit" class="btn btn-primary" name="action" value="back" style="background-color: green; border-color: green;">Arrière</button>
                <button type="submit" class="btn btn-primary" name="action" value="next">Suivant</button>
            </div>
        </div>
    </section>
    {{ form_end(formCIN) }}
</div>
{% endblock %}