<div class="container-fluid bg-primary px-5 d-none d-lg-block">
            <div class="row gx-0">
                <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">

                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                    {% if not is_granted('ROLE_USER') %}
                        <a href="{{ path ('app_register')}}"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
                        <a href="{{path ('app_login')}}"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
    {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <div class="dropdown">
                            <a href="{{path('app_donnee_pers')}}" class="dropdown-toggle text-light" data-bs-toggle="dropdown">
                             <small>
                                <i class="fas fa-user-alt me-2"></i>  {{ app.user.firstname }}
                            </small>
                            </a>
                            <div class="dropdown-menu rounded">
                                <a href="{{ path ('app_donnee_pers')}}" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> Mon compte</a>
                               
                                <a href="{{ path ('app_logout')}}" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Se connecter</a>
                            </div>
                        </div>
                         {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Ministere de tourisme</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{path('app_home2')}}" class="nav-item nav-link active">Accueil</a>
                        <a href="{{path('app_choose_madagascar')}}" class="nav-item nav-link">Madagascar</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu m-0">
                                <a href="{{ path('app_service_ap') }}" class="dropdown-item">Avis préalable</a>
                                <a href="{{ path('app_autorisation_ouverture') }}" class="dropdown-item">Autorisation d'ouverture</a>
                                <a href="{{path('app_autorisation_licence')}}" class="dropdown-item">Autorisation de licence</a>
                               
                            </div>
                            
                        </div>
                        <a href="{{ path ('app_contact')}}" class="nav-item nav-link">Contact</a>
                         <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Plus</a>
                            <div class="dropdown-menu m-0">
                                <a href="{{ path('app_blog') }}" class="dropdown-item">Actulatés</a>
                                <a href="booking.html" class="dropdown-item">Evenements</a>

                            </div>
                            </div>
                    </div>
                </div>
            </nav>
