{% extends 'baseAccueil.html.twig' %}

{% block title %}Arret{% endblock %}

{% block body %}

<main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Decret: Arret</h3>

            <div class="d-md-flex post-entry-2 half">
              <a href="{{path('lois')}}" class="me-4 thumbnail">
                <img src="{{asset('assets/decret.png')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>DECRET N° 2001-027</span></div>
                <h3><a href="{{path('lois')}}">Decret</a></h3>
                <p> Portant refonte du décret 96.773 du 03 septembre 1996 relatif 
                    aux normes régissant les entreprises, établissements et 
                    opérateurs touristiques ainsi que leurs modalités d’application</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Avis Prealable</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="{{asset('assets/prealable.jpg')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single-post.html">Avis Prealable</a></h3>
                <p>Document a connaitre</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Obtention de licence</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single-post.html">Obtention DE Licence</a></h3>
                <p>Fixant la composition des dossiers de demande d’autorisation 
                    d’ouverture des entreprises de voyages et de prestations 
                    touristiques ainsi que les aptitudes professionnelles du 
                    personnel.</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Arret Hebergement</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="{{asset('assets/construction.png')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single-post.html">Arret Hebergement</a></h3>
                <p> Fixant les modalités d'exploitation, les normes des 
                    établissements d’hébergement faisant l’objet de classement et 
                    les aptitudes professionnelles des responsables.</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{asset('assets/construction.png')}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Arret Restaurant</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="{{asset('assets/cuisiner.png')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single-post.html">Restaurant</a></h3>
                <p>Fixant les modalités d’exploitation, les normes des établissements 
                    de restauration faisant l’objet de classement et les aptitudes 
                    professionnelles des responsables. </p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Guides</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex post-entry-2 half">
                <a href="single-post.html" class="me-4 thumbnail">
                  <img src="assets/img/post-landscape-4.jpg" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h3><a href="single-post.html">Arret Guides</a></h3>
                  <p>Réglementant la profession des guides ainsi que leur 
                    catégorisation </p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">Financiere</h3>
                    </div>
                  </div>
                </div>
              </div>

           
              <div class="d-md-flex post-entry-2 half">
                <a href="single-post.html" class="me-4 thumbnail">
                  <img src="assets/img/post-landscape-4.jpg" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h3><a href="single-post.html">Garantie Financiere</a></h3>
                  <p>Fixant les modalités d’exploitation, les normes des établissements 
                      de restauration faisant l’objet de classement et les aptitudes 
                      professionnelles des responsables. </p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">Wade Warren</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-md-flex post-entry-2 half">
                <a href="single-post.html" class="me-4 thumbnail">
                  <img src="assets/img/post-landscape-4.jpg" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h3><a href="single-post.html">Panonceau</a></h3>
                  <p>Fixant les caractéristiques du panonceau à 
                    apposer sur la façade des établissements 
                    d’hébergement et de restauration faisant 
                    l’objet de classement.. </p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">Commission</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-md-flex post-entry-2 half">
                <a href="single-post.html" class="me-4 thumbnail">
                  <img src="assets/img/post-landscape-4.jpg" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h3><a href="single-post.html">Commission de classement</a></h3>
                  <p>relatif à la publicité des prix dans les établissements
                    d’hébergement, de restauration, des entreprises de 
                    voyages et de prestations touristiques. </p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">Publicite</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-md-flex post-entry-2 half">
                <a href="single-post.html" class="me-4 thumbnail">
                  <img src="assets/img/post-landscape-4.jpg" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h3><a href="single-post.html">Publicite des prix</a></h3>
                  <p>relatif à la publicité des prix dans les établissements
                    d’hébergement, de restauration, des entreprises de 
                    voyages et de prestations touristiques. </p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                   
                  </div>
                </div>
              </div>
              <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->

          
          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock %}