<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="{{ asset('assets/images/images.png') }}" height="150"  alt="" srcset="" style="margin-left: 50px;">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class='sidebar-title'>Main Menu</li>
                <li class="sidebar-item">
                    <a href="{{ path('app_dashboard') }}" class='sidebar-link'>
                        <i data-feather="home" width="20"></i> 
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ path('affichage_NatureDeDeamnde') }}" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Nouvelle Demande</span>
                    </a>
                </li>
                <li class="sidebar-item active has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i> 
                        <span>Demande</span>
                    </a>
                    <ul class="submenu active">
                        <li><a href="{{ path('app_demande') }} ">Ma demande</a></li>
                        <li><a href="{{ path('generate_pdf') }} ">Generate PDF</a></li>
                        <li><a href="{{ path('app_upload_pdf') }} ">Envoyer ma demande</a></li>  
                            <li><a href="{{ path('Affichage_DescriptionEquipementRestaurant') }} ">Equipement</a></li>    
                        </a></li>        
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
