<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
       <div class="sidebar-header">
    <h1 style="text-align: center; font-size: 30px; margin: 20px auto;">
        <span style="color: blue; font-weight: bold; font-size: 40px;">e</span>-DEMAT
    </h1>
</div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-item">
                    <a href="{{ path('affichage_madagascar') }}" class="sidebar-link">
                        <i data-feather="home" width="20"></i>
                        <span>Accueil</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="{{ path('liste_demande') }}" class="sidebar-link">
                        <i data-feather="list" width="20"></i>
                        <span>Mes Demandes</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="{{ path('affichage_NatureDeDeamnde') }}" class="sidebar-link">
                        <i data-feather="plus-circle" width="20"></i>
                        <span>Nouvelle Demande</span>
                    </a>
                </li>
                
                <li class="sidebar-item has-sub">
                    <a href="#" class="sidebar-link">
                        <i data-feather="info" width="20"></i>
                        <span>A propos</span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="{{ path('app_apropospros_site') }}">E-dématérialisation</a>
                        </li>
                        <li class="submenu-item"> 
                            <a href="{{ path('app_contact_apropos') }}">Contact</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
